body {
    background-color: rgb(233, 233, 178);
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding:15px;
    font-size: 20px;
    background-color: orange;
    transition: .3s;
}
button:hover {
    transform: scale(1.1);
    background-color: rgb(189, 124, 3);
}

.container {
    height: 480px;
    width:480px;
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.container>* {
    flex-grow: 0;
}

.spinner {
    position:absolute;
    top:200px;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    text-align: center;
    background-color: #706c6c;
    filter: opacity(.4);
    display:none;
}


.spinner>i{
    animation: rotate 1.5s linear infinite; 
  }
  @keyframes rotate{
    to{ transform: rotate(360deg); }
  }